#headBox{
	position: fixed; z-index: 100;
	width: 80px; height: 970px;
	padding-top: 11px; box-sizing: border-box;
}
/* .fixed_text{
	position: fixed; top: 0; right: 0;
	width: 140px; height: 50px;
	background-color: #fff;
} */
.logo_box{
	width: 62px;
	height: 108px;
	margin: auto; margin-bottom: 314px;
	background-image: url(../../../img/source/logo.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.menu_box{
	width: 62px;
	height: 109px;
	margin: auto; margin-bottom: 213px;
	background-image: url(../../../img/source/menu_icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.mail_box{
	position: relative;
	width: 62px;
	height: 204px;
	margin: auto;
}
.mail{
	position: absolute; top: 86px; left: -68px;
	transform: rotate(-90deg);
	font-family: 'OTEnjoystoriesBA'; font-size: 26px;
	text-align: center;
}