/*sony_1920.css*/

/*design deta:1920px*/
@media screen and (min-width: 1920px){

#wrap {background-color: #600002;}


/*headBox====================================================================*/
#headBox {width: ; height: ; background-color: ;}



/*viewBox====================================================================*/
#viewBox {width: ; height: ; background-color: ;}



/*contentBox====================================================================*/
#contentBox {width: ; height: ; background-color: ;}



/*infoBox====================================================================*/
#infoBox {width: ; height: ; background-color: ;}



/*newsBox====================================================================*/
#newsBox {width: ; height: ; background-color: ;}



/*notice====================================================================*/
#notice {width: ; height: ; background-color: ;}



/*footBox====================================================================*/
#footBox {width: ; height: ; background-color: ;}


}