/* edBox.css */

#edBox{
	width: 1900px;
	height: 1021px;
	/* background-color: #cf0; */
}

#edBox .box_title{
	width: 176px;
	height: 43px;
	margin-bottom: 64px;
	background-image: url(../../../img/source/ed_title_bg.png);
	background-repeat: no-repeat;
	background-position: -4px 28px;
	font-family: 'OTEnjoystoriesBA'; font-size: 38px;
	text-align: center;
}

.ed_deco_01{
	display: none;
	position: absolute; top: 2800px; right: 180px;
	width: 210px; height: 64px;
  background-image: url(../../../img/source/edBox_deco_01.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.ed_deco_02{
	display: none;
	position: absolute; top: 2990px; left: 700px;
	width: 146px; height: 50px;
  background-image: url(../../../img/source/edBox_deco_02.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}