/* gradBox */

/* #gradBox{
	background-color: #f90;
} */

.grad_deco_01{
	display: none;
	position: absolute; top: 4130px; left: 830px;
	width: 140px;height: 76px;
	background-image: url(../../../img/source/grad_deco_01.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.grad_deco_02{
	display: none;
	position: absolute; top: 4700px; left: 100px;
	width: 136px; height: 72px;
	background-image: url(../../../img/source/grad_deco_02.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.grad_deco_03{
	display: none;
	position: absolute; top: 4700px; left: 650px;
	width: 182px; height: 118px;
	background-image: url(../../../img/source/grad_deco_03.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.grad_deco_04{
	display: none;
	position: absolute; top: 5000px; right: 400px;
	width: 256px; height: 46px;
	background-image: url(../../../img/source/grad_deco_04.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.mid_box_02{
	position: relative;
	width: 1398px;
	height: 824px;
	margin: auto;
}
.slide_box_02{
	float: right;
	width: 721px;
	height: 824px;
}
.slide_a_02{
	display: none;
	width: 100%; height: 100%;
}
/* .slide_line_02{
	position: absolute; top: -20px; right: -20px;
	width: 770px; height: 876px;
	background-image: url(../../../img/source/box_line.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
} */
.slide_area_02{
	width: 721px; height: 100%;
	overflow: hidden;
}
.slide_bg_02{
	width: 1307px; height: 100%;
	/* margin-left: -100px; */
	background-image: linear-gradient(90deg,#F7CAC9,#92A8D1);
}
.slide_design_02{
	width: 100%; height: 100%;
	background-image: url(../../../img/exam_02.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.txt_box_02{
	float: left;
	width: 492px;
	height: 824px;
	padding-top: 31px; padding-left: 80px;
	box-sizing: border-box;
}
.box_title_02{
	width: 100%;
	height: 43px;
	margin-bottom: 64px;
	background-image: url(../../../img/source/grad_title_bg.png);
	background-repeat: no-repeat;
	background-position: -4px 28px;
	font-family: 'OTEnjoystoriesBA'; font-size: 38px;
	text-align: left;
}
.box_txt_02{
	width: 411px;
	height: 529px;
	margin-bottom: 80px;
	font-family: 'ON-IGothic';
	font-size: 16px;
}
.box_btn_02{
	width: 93px;
	height: 48px;
	font-family: 'OTEnjoystoriesBA'; font-size: 38px;
	text-align: center;
}

.box_btn_02:hover{
	background-image: url(../../../img/source/more_hover.png);
	background-repeat: no-repeat;
	animation: more 0.2s linear;
}