/* uiBox */

.box_size{
	width: 1900px;
	height: 968px;
	padding-top: 40px; box-sizing: border-box;
}
/* #uiBox{
	background-color: #cc9;
} */

.ui_deco_01{
	position: absolute; right: 552px; top: 1126px;
	width: 210px; height: 80px;
	background-image: url(../../../img/source/uiBox_deco_01.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.ui_deco_02{
	position: absolute; right: 112px; top: 1350px;
	width: 140px; height: 80px;
	background-image: url(../../../img/source/uiBox_deco_02.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.ui_deco_03{
	position: absolute; right: 300px; top: 1816px;
	width: 268px; height: 70px;
	background-image: url(../../../img/source/uiBox_deco_03.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.ui_deco_04{
	position: absolute; left: 188px; top: 1920px;
	width: 214px; height: 134px;
	background-image: url(../../../img/source/uiBox_deco_04.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.top{
	position: fixed; bottom: 24px; right: 82px;
	width: 78px;
	height: 114px;
}
.top a{
	display: block; position: relative;
	width: 100%; height: 100%;
	background-image: url(../../../img/source/top_btn.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.top_ani{
	position:absolute; top: 62px; 
	/* top: 56px; 올려다보는 눈위치 */
	width: 100%; height: 16px;
	background-image: url(../../../img/source/top_btn_ani.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.top a:hover .top_ani{
	animation: top 0.5s forwards linear;
}
@keyframes top {0%{top:62px;} 100%{top:57px;}}
.mid_box{
	width: 1398px;
	height: 824px;
	margin: auto;
}
.slide_box{
	/* position: fixed; top: 97px; left: 251px; */
	position: absolute; top: 1193px; left: 251px;
	/* position: absolute; top: 3163px; left: 251px; */
	width: 721px;
	height: 824px;
}
.slide_a{
	display: none;
	width: 100%; height: 100%;
}
.slide_line{
	position: absolute; top: -20px; left: -30px;
	width: 770px; height: 876px;
	background-image: url(../../../img/source/box_line.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.slide_area{
	width: 721px; height: 100%;
	overflow: hidden;
}
.slide_bg{
	width: 3000px; height: 100%;
	/* margin-left: -100px; */
	background-image: linear-gradient(90deg,#F7CAC9,#92A8D1);
}
.slide_design{
	width: 100%; height: 100%;
	background-image: url(../../../img/exam.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.txt_box{
	position: relative;
	float: right; z-index: 100;
	width: 492px;
	height: 824px;
	padding-top: 31px; box-sizing: border-box;
}
#uiBox .box_title{
	width: 176px;
	height: 43px;
	margin-bottom: 64px;
	background-image: url(../../../img/source/ui_title_bg.png);
	background-repeat: no-repeat;
	background-position: -4px 28px;
	font-family: 'OTEnjoystoriesBA'; font-size: 38px;
	text-align: center;
}
.upper{
	text-transform: uppercase;
}
.cap{
	text-transform: capitalize;
}
.box_txt{
	width: 411px;
	height: 529px;
	margin-bottom: 80px;
	font-family: 'ON-IGothic';
	font-size: 18px;
}
.box_btn{
	width: 93px;
	height: 48px;
	font-family: 'OTEnjoystoriesBA'; font-size: 38px;
	text-align: center;
}
a{
	display: block;
	width: 100%; height: 100%;
}
.box_btn:hover{
	background-image: url(../../../img/source/more_hover.png);
	background-repeat: no-repeat;
	animation: more 0.2s linear;
}
@keyframes more {	
	0% {background-position: -80px 0;}	
	100% {background-position: 0 0;}
}