/* webBox.css */
#webBox{
	margin-bottom: 320px;
}
#webBox .box_title{
	width: 100%;
	height: 43px;
	margin-bottom: 64px;
	background-image: url(../../../img/source/web_title_bg.png);
	background-repeat: no-repeat;
	background-position: -4px 28px;
	font-family: 'OTEnjoystoriesBA'; font-size: 38px;
	text-align: left;
}

.web_deco_01{
	display: none;
	position: absolute; top: 3100px; right: 324px;
	width: 290px; height: 92px;
	background-image: url(../../../img/source/web_deco_01.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.web_deco_02{
	display: none;
	position: absolute; top: 3800px; right: 408px;
	width: 264px; height: 90px;
	background-image: url(../../../img/source/web_deco_02.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.web_deco_03{
	display: none;
	position: absolute; top: 4000px; left: 300px;
	width: 182px; height: 42px;
	background-image: url(../../../img/source/web_deco_03.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}